.nav-sect{
    display: flex;
    justify-content: space-between;
    margin: 40px 100px;
}

.nav-links ul{
    display: flex;
}

.nav-links ul li{
    list-style: none;
    padding: 0px 10px;
    text-decoration: underline;
    color: blue;
}
span{
    font-size: 30px;
    font-weight: 900;
}
